.dragonBall-page {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    color: #000;
}

.sidebar {
    flex: 0 0 250px;
    background-color: #0E79B2;
    border: 3px solid #FFD700;
    padding: 15px;
    text-align: center;
    box-shadow: 7px 7px 0px #000;
}

.dragonBall-info h1 {
    font-size: 26px;
    color: #FFD700;
    margin: 0 0 10px 0;
    text-shadow: 3px 3px #FF0000;
}

.sidebar .anime-logo {
    width: 280px;
    height: auto;
    margin-bottom: 20px;
    border: 5px solid #FF0000;
    border-radius: 12px;
    box-shadow: 7px 7px 0px #FFD700;
}

.sidebar .anime-info h1 {
    font-size: 24px;
    color: #FFD700;
    text-shadow: 2px 2px #000;
}

.sidebar .anime-info p {
    font-size: 14px;
    margin: 5px 0;
    color: #FFFFFF;
    text-shadow: 1px 1px #000;
}

.main-content {
    flex: 1;
    padding: 15px;
    border: 5px solid #FFD700;
    background-color: rgba(255, 255, 255, 0.9);
    background-image: url("https://img.freepik.com/free-vector/hand-drawn-oriental-cloud-pattern_23-2151180374.jpg");
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 7px 7px 0px #000;
}

.banner {
    width: 100%;
    height: auto;
    border: 5px solid #F47B20;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 30px;
}

.section-title {
    font-size: 22px;
    color: #FFD700;
    text-shadow: 3px 3px #FF0000;
    margin-bottom: 10px;
    border-bottom: 2px solid #FF0000;
    padding-bottom: 5px;
}

.anime-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 5px 5px 0px #000;
}

.anime-table th {
    background-color: #FFB347;
    color: #000000;
    text-transform: uppercase;
    border: 2px solid #FF0000;
    letter-spacing: 1px;
}

.anime-table td {
    padding: 8px;
    text-align: left;
    border: 2px solid #FFD700;
}

.anime-table tr:nth-child(even) {
    background-color: #FFECB3;
}

.anime-table a {
    color: #0000FF;
    text-decoration: underline;
    font-weight: bold;
}

.anime-table a:hover {
    color: #FF0000;
    text-decoration: none;
}

.characters {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.character-card {
    text-align: center;
    width: 160px;
    background-color: #FFD700;
    border: 4px solid #0E79B2;
    padding: 10px;
    text-align: center;
    color: #000;
    box-shadow: 3px 3px 0px #000;
}

.character-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 4px solid #F47B20;
}

.character-card p {
    font-size: 14px;
}