@font-face {
  font-family: 'VCR OSD Mono';
  src: url('./fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #008080;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'VCR OSD Mono', monospace;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}